* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(185, 5, 5, 0.2);
  width: 260px;
  padding: 20px;
}

.inputbox {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  width: 45px;
  height: 45px;
  font-size: 25px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #00aeff;
}

.operator {
  background-color: #e47709;
  color: white;
  font-size: 20px;
 
}

.operator:hover {
  background-color: #08e2cc;
}

.equal {
  background-color: #f78605;
  color: white;
}

.equal:hover {
  background-color: #08e2cc;
}

button:active {
  background-color: #ccc;
}
